.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
    font-size: 1.25rem;
    font-weight: bold;
    color: #3A3A3A;
}
.margine {
    margin: 80px 120px 0px 120px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.anchor ul {
    list-style: none;
    display: flex;
    gap: 34px;
    font-weight: 600;
}

.anchor a {
    text-decoration: none;
    color: #3A3A3A;
}

.b-title{
    font-weight: bold;
    color: #3A3A3A;
    font-size: 3.25rem;
    margin: 0px;
}
.des{
    color: #3A3A3A;

}

.btn-bannar{
    color: white;
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
    font-weight: 700;
}
.arrow{
    padding-left: 8px;
}

.bannar{
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-top: 60px ;
}


.bannar-d{
    max-width: 582px;
}
.sp {
    justify-items: center;
    margin: 100px 165px ;
    border-top: 2px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;

}

.sp img {
    padding: 40px ;
}
.brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media screen and (max-width: 576px) {
    .margine {
        margin: 0 auto;
    }

    nav {
       flex-direction: column;

    
    }

    .bannar{
        flex-direction: column-reverse;
        margin: 30px auto;
        padding-top: 40px;
        background-position: top;
        background-size: 80%;

        text-align: center;
        
    }

    .b-title{
        font-size: 1.75rem;
    }
    .image img{
        width: 80%;
        padding-left: 30px;
        
    }

    .anchor ul {

        gap: 15px;
    }

    .sp {
        margin: 0 auto;
        max-width: 280px;
        border: none;
    }

    .sp img {
        padding: 10px ;
        max-width: 50px;
    }



}