.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
    font-size: 1.25rem;
    font-weight: bold;
    color: #3A3A3A;
}
.margine {
    margin: 80px 120px 0px 120px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.anchor ul {
    list-style: none;
    display: flex;
    gap: 34px;
    font-weight: 600;
}

.anchor a {
    text-decoration: none;
    color: #3A3A3A;
}

.b-title{
    font-weight: bold;
    color: #3A3A3A;
    font-size: 3.25rem;
    margin: 0px;
}
.des{
    color: #3A3A3A;

}

.btn-bannar{
    color: white;
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
    font-weight: 700;
}
.arrow{
    padding-left: 8px;
}

.bannar{
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-top: 60px ;
}


.bannar-d{
    max-width: 582px;
}
.sp {
    justify-items: center;
    margin: 100px 165px ;
    border-top: 2px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;

}

.sp img {
    padding: 40px ;
}
.brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Popular-t{
    font-size: 1.75rem;
    color: #3A3A3A;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}


.card{
    padding: 14px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    max-width: 330px;
    border-radius: 5px;
}

.product{
    width: 100%;
}

.title{
    font-size: 1.75rem;
    font-weight: 500;
    color: #18191F;
    
}

.value{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    margin: 0px;
}

.des{
    color: rgba(120, 120, 133, 1);
    font-weight: 700;
}

.rating{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    margin: 0px 196px ;
}

.more-btn{
    border: none;
    background-color: transparent;
    float: inline-end;
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    margin: 50px 220px 100px 0px ;
}

.g-titele{
    font-size: 2.25rem;
    font-weight: 700;
    color: #0A0826;
}
.g-des{
    font-size: 1rem;
    font-weight: 700;
    color: #6C6C6C;
}

.bbbbton {
    border-radius: 0px;
}

.gear-des{
    max-width: 600px;
}

.gear{
    display: flex;
    gap: 200px;

    margin: 200px 165px 100px 165px;
}

.foot{
    background-color: #0A0826;
    padding: 50px 590px;
    text-align: center;
    color: white;
}

.foot-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.copy{
    font-size: 0.9rem;
    color: rgba(217, 219, 225, 1);
}

.link li ,.link li a{
    list-style: none;
    text-decoration: none;
    color: white;
}

.link {
    display: flex;
    gap: 16px;
    justify-content: center;
}


@media screen and (max-width: 576px) {
    .margine {
        margin: 0 auto;
    }

    nav {
       flex-direction: column;
    
    }

    .anchor ul{
        flex-direction: column;
        padding-right: 50px;
        text-align: center;
    }


    .bannar{
        flex-direction: column-reverse;
        margin: 30px auto;
        padding-top: 40px;
        background-position: top;
        background-size: 80%;

        text-align: center;
        
    }

    .b-title{
        font-size: 1.75rem;
    }
    .image img{
        width: 80%;
        padding-left: 30px;
        
    }


    .sp {
        margin: 0 auto;
        max-width: 280px;
        border: none;
    }

    .sp img {
        padding: 10px ;
        max-width: 50px;
    }
    .cards {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        justify-items: center;
    }

    .more-btn{
        margin: 20px auto 0px 0px ;
    }
    
    .gear{
        flex-direction: column-reverse;
        margin: 200px 0px 100px 0px;
        text-align: center;
        gap: none;
    }

    .gear img{
        width: 100%;
    }

    .gear-des{
        margin-top: 0px;
    }
    .foot{
        margin: 0 auto;
        padding: 50px 60px;
    }

    .foot-title {
        font-size: 1rem;
    }

    .copy{
        font-size: 0.7rem;
    }

}